* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;
}

header {
    background-color: white;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    
    margin-left: 40px;
    margin-right: 80px;
}

.logo img {
    width: 90px;
}

.barra-pesquisa {    
    display: flex;
    align-items: center;
    
    border: 1px solid lightgray;
    border-radius: 17px;
}

.barra-pesquisa input {
    width: 480px;
    height: 34px;
    border: none;
    outline: none;
    
    border-right: none;
    background-color: transparent;    
    font-size: 15px;
    padding-left: 20px;  
       
}

.barra-pesquisa div {    
    width: 40px;
    height: 32px;       
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.teclado {
    width: 20px;
}

.microfone {
    height: 20px;
}

.login {
    width: 200px;
    height: 30px;
    position: absolute;
    right: 30px;
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    
}
.login div {
    background-color: #4585f3;
    height: 30px;
    width: 95px;
    font-size: 12px;    
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.nav {
   
    width: 840px;
    height: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    margin-right: 30px;
    padding-bottom: 10px;
    
    display: flex;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #777;
    font-size: 13px;
}

.active a {
    color: #1A73E8;
}

.nav li:hover a {
    color: #1A73E8;
}

.resultados {
    width: calc(100% - 180px);
    height: 20px;
    padding-left: 180px;
    color: #777;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.container {
    
    width: calc(100% - 180px);
    height: auto;
    padding-left: 180px;
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.bloco-pesquisa {
    
    width: 620px;
    overflow: hidden;
    margin-bottom: 20px;
}

.titulo a {
    max-width: 620px;
    height: 23px;
    font-size: 18px;
    color: #1A0DAB;
    text-decoration: none;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
}

.titulo a:hover {
    text-decoration: underline;
}

.link,.link a {
	height: 17px;
	color: #006621;
	font-size: 14px;
	text-decoration: none;
	margin-bottom: 5px;
}

.info{
	color: #545454;
	font-size: 14px;
	margin-bottom: 5px;	
	line-height:20px;
}

.pesquisas-relacionadas {
    max-width: 620px;
    height: 200px; 
    
    
}

.pesquisas-relacionadas p {
    margin-bottom: 10px;    
}

.int {
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 25px;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.int p {
    
    background-color: rgba(204, 204, 204, 0.781);
    width: 295px;
    text-align: center;
    padding: 13px;    
    border-radius: 25px;
    
}

.int a {
    color: black;
    text-decoration: none;
}